@model X.PagedList.PagedList<RepairTaskViewModel>

<div class="card">
    <div class="card-header">
        @User.Identity.Name&#39;s Finished Repairs Tasks
    </div>
    <div class="card-body d-flex justify-content-between">
        @foreach (var finishedRepairTask in Model) {
            <p class="card-text">
                <a asp-action="@StringConstants.ActionNameRepairTaskDetails"
                   asp-controller="@StringConstants.RepairTaskControllerName"
                   asp-area="@StringConstants.AreaNameCustomer"
                   asp-route-id="@finishedRepairTask.Id">
                    @finishedRepairTask.Id
                </a>
            </p>
            <a class="btn btn-primary"
               asp-action="@StringConstants.ActionNameRepairTaskReceipt"
               asp-controller="@StringConstants.RepairTaskControllerName"
               asp-area="@StringConstants.AreaNameCustomer"
               asp-route-id="@finishedRepairTask.Id">
                View Receipt
            </a>
        }
    </div>
    <div class="container">
        @if (Model.Count != 0) {
            @Html.PagedListPager(Model, page => Url.Action(StringConstants.ActionNameIndex, StringConstants.HomeControllerName, new {
            pendingRepairTasksPerCustomerPage = TempData[StringConstants.TempDataKeyHoldingThePageForPendingRepairTasksPerCustomer],
            workedOnRepairTasksPerCustomerPage = TempData[StringConstants.TempDataKeyHoldingThePageForWorkedOnRepairTasksPerCustomer],
            finishedRepairTasksPerCustomerPage = page}),
            new X.PagedList.Mvc.Common.PagedListRenderOptions {
                LiElementClasses = new string[] {"page-item"},
                PageClasses = new string[] {"page-link"},
            })
        }
    </div>
</div>



