@model LoginUserInputModel

<section class="container mt-5 w-25">
    <form method="post" asp-controller="users" asp-action="login">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="@Model.Username"></label>
            <input asp-for="@Model.Username" class="form-control" value="@(Model?.Username)" />
            <span asp-validation-for="@Model.Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Password"></label>
            <input asp-for="@Model.Password" class="form-control" value="@Model?.Password" />
            <span asp-validation-for="@Model.Password" class="text-danger"></span>
        </div>
        <div class="d-flex justify-content-end">
            <input type="submit" class="btn btn-success" value="Login" />
        </div>
    </form>
</section>