@model X.PagedList.PagedList<RepairTaskSimpleInfoViewModel>

<h1 class="text-center text-danger">Pending Repair Tasks View Component</h1>

@foreach (var order in Model) {
    <div>
        @order.Username
        <a class="btn btn-primary" 
            asp-action="@StringConstants.ActionNameAssignTask" 
            asp-controller="@StringConstants.RepairTaskControllerName" 
            asp-area="@StringConstants.AreaNameAdministration" 
            asp-route-id="@order.Id">
                Assign Task
        </a>
    </div>
}

@Html.PagedListPager(Model, page => Url.Action(StringConstants.ActionNameIndex, StringConstants.HomeControllerName, new {
    adminsPage = TempData[StringConstants.TempDataKeyHoldingThePageNumberForAdministrators],
    customersPage = TempData[StringConstants.TempDataKeyHoldingThePageNumberForCustomers],
    techniciansPage = TempData[StringConstants.TempDataKeyHoldingThePageNumberForTechnicians],
    pendingRepairTasks = page,
    workedOnRepairTasksPage = TempData[StringConstants.TempDataKeyHoldingThePageForWorkedOnRepairTasks],
    finishedRepairTasksPage = TempData[StringConstants.TempDataKeyHoldingThePageForFinishedRepairTasks]
}))
