@model X.PagedList.PagedList<RepairTaskViewModel>

<div class="card">
    <div class="card-header">
        @User.Identity.Name&#39;s Pending Repair Tasks
    </div>
    <div class="card-body d-flex justify-content-between">
        @foreach (var pendingRepairTask in Model) {
            <p class="card-text">
                <a asp-action="@StringConstants.ActionNameRepairTaskDetails"
                   asp-controller="@StringConstants.RepairTaskControllerName"
                   asp-area="@StringConstants.AreaNameCustomer"
                   asp-route-id="@pendingRepairTask.Id">
                    @pendingRepairTask.Id
                </a>
            </p>
            <div>
                <a asp-action="@StringConstants.ActionNameEditRepairTask"
                   asp-controller="@StringConstants.RepairTaskControllerName"
                   asp-area="@StringConstants.AreaNameCustomer"
                   asp-route-id="@pendingRepairTask.Id"
                    class="btn btn-outline-info">
                    Edit
                </a>
                <a asp-action="@StringConstants.ActionNameDeleteRepairTask"
                    asp-controller="@StringConstants.RepairTaskControllerName"
                    asp-area="@StringConstants.AreaNameCustomer"
                    asp-route-id="@pendingRepairTask.Id"
                    class="btn btn-outline-danger">
                    Delete
                </a>
            </div>
        }
    </div>
    <div class="container">
        @if (Model.Count != 0) {
            @Html.PagedListPager(Model, page => Url.Action(StringConstants.ActionNameIndex, StringConstants.HomeControllerName, new {
            pendingRepairTasksPerCustomerPage = page,
            workedOnRepairTasksPerCustomerPage = TempData[StringConstants.TempDataKeyHoldingThePageForWorkedOnRepairTasksPerCustomer],
            finishedRepairTasksPerCustomerPage = TempData[StringConstants.TempDataKeyHoldingThePageforFinishedRepairTasksPerCustomer]}),
            new X.PagedList.Mvc.Common.PagedListRenderOptions {
                 LiElementClasses = new string[] { "page-item" },
                 PageClasses = new string[] { "page-link" }
            })
        }
    </div>
</div>



