@{ 
    ViewBag.Title = "Welcome";
}
<section class="container mt-3">
    <div class="jumbotron">
        <h1 class="text-center mb-5">Welcome to our Sweatshop</h1>
        <div class="card">
            <div class="card-body">
                <h3 class="text-center mt-2">If you are an Administrator, <a asp-controller="@StringConstants.UserControllerName" asp-action="@StringConstants.ActionNameLogin" asp-route-userRole="@StringConstants.AdminUserRole">login here</a></h3>
            </div>
        </div>
        <div class="card my-5">
            <div class="card-body">
                <h3 class="text-center mt-2">If you are a Customer, <a asp-controller="@StringConstants.UserControllerName" asp-action="@StringConstants.ActionNameLogin" asp-route-userRole="@StringConstants.CustomerUserRole">login here</a></h3>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h3 class="text-center mt-2">If you are a Technician, <a asp-controller="@StringConstants.UserControllerName" asp-action="@StringConstants.ActionNameLogin" asp-route-userRole="@StringConstants.TechnicianUserRole">login here</a></h3>
            </div>
        </div>
    </div>
</section>