@model RepairTaskDetailsViewModel
<div class="container d-flex justify-content-center mt-5">
    <div class="card">
        <div class="card-header">
            Repair Task Created by @Model.Username
        </div>
        <div class="card-body">
            <div class="card-text">
                <h4>Assigned Technicians</h4>
            </div>
            @foreach (var technician in Model.TechniciansWorkingOnRepairTask) {
                <div class="card-text">
                    Name&#58; <strong>@technician.UserName</strong>
                </div>
            }
            <div class="card-text">
                <h4>Required Parts</h4>
            </div>
            @foreach (var requiredPart in Model.PartsRequired) {
                <div class="card-text">
                    Type&#58; <strong>@requiredPart.Type&#59;</strong> Required Quantity: <strong>@requiredPart.Quantity</strong>
                </div>
            }
            @if(String.IsNullOrEmpty(Model.Feedback) == false) {
                <div>
                    <h4>Feedback:</h4>
                </div>
                <p>@Model.Feedback</p>
            }
        </div>
    </div>
</div>