@model X.PagedList.PagedList<RepairTaskViewModel>

<div class="card">
    <div class="card-header">
        @User.Identity.Name&#39;s Worked on Repair Tasks
    </div>
    <div class="card-body">
        @foreach (var repairTask in Model) {
        <form method="post"
              asp-action="@StringConstants.ActionNameDoMagic"
              asp-controller="@StringConstants.RepairTaskControllerName"
              asp-area="@StringConstants.AreaNameTechnician"
              asp-route-id="@repairTask.Id">
            <div class="d-flex justify-content-lg-between">
                <p class="card-text">
                    Assigned task Id&#58; <a asp-action="@StringConstants.ActionNameRepairTaskDetails"
                                                asp-controller="@StringConstants.RepairTaskControllerName"
                                                asp-area="@StringConstants.AreaNameTechnician"
                                                asp-route-id="@repairTask.Id">
                                                    @repairTask.Id
                                          </a>
                </p>
                <input type="submit" class="btn btn-primary" value="Do Magic" />
            </div>
        </form>
        }
        @if (Model.Count != 0) {
            @Html.PagedListPager(Model, page => Url.Action(StringConstants.ActionNameIndex, StringConstants.HomeControllerName, new {
            workedOnRepairTasksByTechnicianPage = page,
            finishedRepairTasksByTechnicianPage = TempData[StringConstants.TempDataKeyHoldingThePageForFinishedRepairTasksByTechnician]}),
            new X.PagedList.Mvc.Common.PagedListRenderOptions {
               LiElementClasses = new string[] {"page-item"},
               PageClasses = new string[] {"page-link"}
            })
         }
    </div>
</div>


